<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Help</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base target="_blank">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        
        {{CONTENT}}
        
        <hr style="margin-top: 30px">
        <p>
            For more help with this or anything else, please email <a href="mailto:support@tourdigs.com">support@tourdigs.com</a> or use the 'Talk to us' button
        </p>
    </body>
</html>
